In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# загружаем из scikit-learn dataset с ирисами
iris = datasets.load_iris()

In [3]:
df_iris = pd.DataFrame(iris.data)

In [4]:
# добавим название колонок
df_iris.columns = iris.feature_names
df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
# добавим целевой признак
df_iris['target'] = iris.target
# добавим расшифровку целевого признака
df_iris['target_name'] = df_iris['target'].apply(lambda x: iris.target_names[x])

In [6]:
statistic = []
for column in df_iris.drop(columns=['target', 'target_name'], axis=1).columns:
    statistic.append((column, df_iris[column].dtype,
                      df_iris[column].min(), df_iris[column].max(
    ), df_iris[column].mean(),
        df_iris[column].median(), df_iris[column].mode()[0],
        df_iris[column].isnull().sum() / df_iris.shape[0] *
        100,  df_iris[column].var(),
        df_iris[column].std(),
        # межквартильный интервал от 0,25 до 0,75
        f'({df_iris[column].quantile(q=0.25)}, {df_iris[column].quantile(q=0.75)})',
        # коэффициент вариации - отношение средне квадратического отклонения к среднему
        df_iris[column].std() / df_iris[column].mean(),
        df_iris[column].nunique(),
        # порой необходимо знать какую долю от общего количества значений признака занимает самый распространенный
        df_iris[column].value_counts(normalize=True).values[0]
    ))

In [7]:
df_statistic = pd.DataFrame(statistic, columns=['column_name', 'column_type', 
                                     'min','max', 'mean', 'median', 'mode', 
                                     'percent of zero rows', 'variance', 
                                    'standard deviation', 
                                    'interquartile range', 'coefficient of variation', 
                                    'number of distinct values', 'part of common value'])
df_statistic

,column_name,column_type,min,max,mean,median,mode,percent of zero rows,variance,standard deviation,interquartile range,coefficient of variation,number of distinct values,part of common value
0,sepal length (cm),float64,4.3,7.9,5.843333,5.80,5.0,0.0,0.685694,0.828066,"(5.1, 6.4)",0.141711,35,0.066667
1,sepal width (cm),float64,2.0,4.4,3.057333,3.00,3.0,0.0,0.189979,0.435866,"(2.8, 3.3)",0.142564,23,0.173333
2,petal length (cm),float64,1.0,6.9,3.758000,4.35,1.4,0.0,3.116278,1.765298,"(1.6, 5.1)",0.469744,43,0.086667
3,petal width (cm),float64,0.1,2.5,1.199333,1.30,0.2,0.0,0.581006,0.762238,"(0.3, 1.8)",0.635551,22,0.193333

In [9]:
df_statistic.to_markdown()

ImportError: Missing optional dependency 'tabulate'.  Use pip or conda to install tabulate.

In [8]:
df_statistic.to_excel('statistic.xlsx', index=False)